.container{
    height:100hv;
    background-color: rgb(206, 218, 42);;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: -1;
}

.card{
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(114, 168, 13);
    box-shadow: -1px 2px 104px 12 px rgb(31, 235, 41);
    z-index: 10;
}

.dataContainer{
    margin-top: 2vh;
    
}

.image{
    width: 55px;
    height: 40vh;
}

.title{
    margin: 0;
}

.subtitle{
    margin-top:1vh;
    margin-bottom: 3vh;
}

h4{
    margin: 0.5vh;
}

.activities{
    margin-top: 3vh;
    margin-bottom: 0;
}

ul li{
    margin: 0;
    padding: 0;
}

.btn{
    width: 50%;
    background-color: rgb(200, 112, 235);
    border:#fffc47 solid 2px;
    border-radius: 5px;
    line-height: 2rem;
    font-size: 1rem;
}

.btn:hover{
    cursor: pointer;
    background-color: #fffc47;
    color:peachpuff;
    border:rgb(200, 112, 235) solid 2px;
}
