.container{
    height: 200px;
  
    /* background-color: rgb(206, 218, 42); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
   
}
.flags{
    padding-top: 5%;
    margin-top: 500px;
    margin-left: 150px;
    padding-bottom: 20px;
    display: flex;
   flex-direction:row;
    align-items:flex-end;
  ;
    width: 300px;
    height: 200px;
}
.card{
    display: flex;
    width: 600px;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 241, 142);
    border-radius: 15px;
   
   
}

.dataContainer{
    margin-top: 0;
    margin-left: 150px;
    margin-bottom: 300px;
    
}

.image{
    width: 20px;
    height: 30px;
}

.title{
    margin-right: 200px;
  
}

.subtitle{
    margin-bottom: 20px;
    padding: 30px;
}

h4{
    margin: 0.3vh;
    
}

.activities{
   display: inline;
}

ul li{
    margin-bottom: 50px;

    
}


