.card {
    width: 75%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 3%;
    padding: 2%;
    background-color: rgb(218, 215, 97);;
    box-shadow: 2px 5px 20px 3px rgb(61, 148, 43);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* .card:hover {
    transform: translateY(-2px);
  } */
  
  .image_container {
    width: 20%;
    margin-right: 3%;
  }
  
  .image {
    width: 100%;
    height: auto;
   
  }
  
  .text_container {
    text-align: left;
    padding-inline-start: 2%;
  }
  
  .link {
    text-decoration: none;
    margin-bottom: 0;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  .country {
    font-size: 22px;
    color:rgb(37, 31, 3);
    margin-bottom: 0;
    justify-items: center;
  }
  
  .continents {
    font-size: 15px;
    margin-top: 20px;
    color: darkblue
  }
  .population{
    font-size: 15px;
    color:rgb(108, 52, 122)
  }
  
  