*{
    box-sizing: border-box;
     color:#151615 ;
    font-weight: bold; 
}

.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-size: cover;
}


.card{
    display: grid;
    grid-template-columns: 1fr ;
    gap:15px;
    padding: 1vh 3vh;
    background-color: rgb(220, 228, 173);
    box-shadow: -2px 2px 104px 12px rgb(247, 202, 4);
    z-index:5;
    border-radius: 15px;
    width: 50%;
  

}

.title{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   justify-content: center;
    padding:8px;
    margin-top: 12px;
    margin-bottom: 2vh;
    margin-left:180px;
    color:rgb(64, 146, 31)
}

.formSection{
    width: 100%;
    display: grid;
    grid-template-rows: max-content;
    align-items:center;
    margin: 5px;
    text-align:left;
}

.formSection:last-of-type{
    margin-bottom: 30px;
}

.input{
    display:inline-table;
    width: 30px;
    margin: 12px;
    padding: 5px;
    text-transform: capitalize;
    
}


.danger{
    border: 2px solid crimson;
}
    

.btnBack{
    width: 50%;
    color:rgb(10, 10, 10);
    background-color: rgb(231, 192, 64);
    border:2px solid rgb(57, 187, 6);
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.add{
    width:50%;
    color:rgb(10, 10, 10);
    background-color: rgb(231, 192, 64);
    border:2px solid rgb(57, 187, 6);
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 8px;
}

.add:hover,
.btnBack:hover{
    cursor:pointer;
    background-color:rgb(218, 241, 10);
    color: black
}

ul{
    list-style: none;
    display: inline;
    margin-left: 40px;
}
.select{
    margin: 12px;
    padding: 5px;
    display: inline-table;
    width: 30px;
    
}
.label{
    display: flex;
    font-weight: 600;
    width: 180px;
    padding:10px;
    min-height: 40px;
    cursor:pointer;
}
body{
    background-color: black;
}

p.danger{
    color: crimson;
    font-size: 15px;
    justify-content: baseline;
    display: inline;
}
